table.UserTable {
    background-color: #ddd;
}

table.UserTable td {
    padding: 0px 5px 0px 5px;
    vertical-align: top;
}

table.UserTable th {
    padding: 0px 5px 0px 5px;
    text-align: left;
}

.AddUserForm {
    background-color: lightgreen;
    padding: 5px;
}

.EditUserForm {
    background-color: lightskyblue;
    padding: 5px;
}
