table.ShipTable {
    background-color: #ddd;
}

table.ShipTable td {
    padding: 0px 5px 0px 5px;
    vertical-align: top;
}

table.ShipTable th {
    padding: 0px 5px 0px 5px;
    text-align: left;
}

.ShipDetails {
    background-color: #ccc;
    padding: 5px;
}

.AddShipForm {
    background-color: lightgreen;
    padding: 5px;
}

.EditShipForm {
    background-color: lightskyblue;
    padding: 5px;
}
