h1 {
    font-size: 14pt;
    margin: 0px;
}

h2 {
    font-size: 12pt;
    margin: 0px;
}

.Container {
    background-color: #eee;
    padding: 5px;
    margin-bottom: 10px;
}

.RequestError {
    color: white;
    background-color: red;
    padding: 5px;
}

.RefreshListButton {
    background-color: lightgreen;
    padding: 5px;
}
