.Auth-LoggedIn {
    padding: 5px;
    margin-bottom: 20px;
    background-color: rgb(154, 255, 154);
}

.Auth-NotLoggedIn {
    padding: 5px;
    margin-bottom: 20px;
    background-color: rgb(253, 125, 125);
}

.AuthInfo {
    padding: 5px;
    margin-bottom: 10px;
    font-size: smaller;
    white-space: nowrap;
    background-color: rgb(103, 252, 103);
}

.TokenInfo .expired {
    color: red;
    font-weight: bold;
}
